.certificates {
    background: url("../img/certificates/certificates__bg1.png") 52% 0/cover no-repeat;
    margin-top: 5.8%;
    position: relative;
}
.certificates__container {
    padding: 9.6% 5px 10% 5px;
}
.certificates__title {
    color: #FFF;
    margin-bottom: 4.2%;
}
.certificates__slider-button-prev {
    top: 54%;
}
.certificates__slider-button-next {
    top: 54%;
}
.certificates__slider-item{
    width: 225px;
    height: 329px;
    padding: 45px 60px;
    position: relative;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.certificates__item-img{
    border-radius: 10px;
}
