// ========================Миксины==============================
@mixin adaptiveValue ($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    // Ширина полотна макета
    $maxWidth: 1281;                    
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
//   ====================Переменные=======================
$colorWhite:#FFF;
$colorBlack:#111;
$colorGrad: linear-gradient(90deg, #F58634 0%, #E8363A 100%);
@function em($px,$size){
    $result: $px / $size + em;
    @return $result;
  }
  @function rem($px){
    $result: $px / 16 + rem;
    @return $result;
  }

.chois {
}
.chois__container {
    padding: 6.5% 5px 10% 5px;
}
.chois__title {
    margin-bottom: 4.3%;
}
.chois__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
        justify-content: center; 
        gap: 35px;
    }
}
.chois__img-wrap {
    position: relative;
    display: flex;
    flex: 0 1 35.5%;
    @include adaptiveValue(height, 524, 220);
    max-height: 576px;
    margin-right: 30px;
    min-width: 347px;
    @media (max-width: 1000px) {
        min-width: 285px;
    }
}
.chois__img-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.chois__img-2 {
    position: absolute;
    top: 5.5%;
    left: 6.5%;
    width: 100%;
    height: 100%;
}
.chois__content-wrap {
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
    @media (max-width: 1000px) {
        flex: 1 1 55%;
        padding: 0 20px;
    }
}
.chois__item-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-row-gap: 11px;
    grid-column-gap: 22px;
    margin-bottom: 6.5%;
    @media (max-width: 650px) {
        flex-direction: row;

    }

}
.chois__item {
    border-radius: 10px;
    background: #969AF7;
    width: 48.6%;
    min-height: 129px;
    padding: 27px 25px 27px 55px;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 650px) {
        flex: 1 1 100%;
    }
}
.chois__item-text {
    font-family: FuturaFuturisC;
    @include adaptiveValue(font-size, 20, 15);
    font-weight: 400;
    color: $colorWhite;
}
.chois__btn {
    align-self: flex-start;
    @media (max-width: 1000px) {
        align-self: center;
    }
}
.chois__item-number{
    position: absolute;
    width: 50px;
    height: 50px;
   background: url("../img/chois/chois__item-number-bg.svg") 0 0/cover no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: FuturaFuturisC;
   @include adaptiveValue(font-size, 20.588, 15);
   font-weight: 700;
   line-height: 108.5%; /* 22.338px */
   color: #FFF;
   top: 15%;
   left: -22px;
}