// ==============Миксины=============================
@mixin adaptiveValue ($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    // Ширина полотна макета
    $maxWidth: 1281;                    
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
  }
  //   ====================Переменные=======================
$colorWhite:#FFF;
$colorGrad: linear-gradient(90deg, #F58634 0%, #E8363A 100%);
@function em($px,$size){
    $result: $px / $size + em;
    @return $result;
  }
  @function rem($px){
    $result: $px / 16 + rem;
    @return $result;
  }
  //   ==============Основное==================================
.components {
    background: url("../img/components/components__bg.png") 0 0/cover  no-repeat;
    
    margin-top: -180px;
}
.components__container {
    padding: 180px 5px 0 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @media (max-width:1000px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.components__content-box {
    max-width: 846px;
    margin-bottom: 14%;
    @media (max-width:1000px) {
        flex-wrap: wrap;
        margin-bottom: 6%;
    }
}
.components__title {
    color: #969AF7;
    font-family: FuturaDemiC;
    @include adaptiveValue(font-size,80 ,30 );
    font-weight: 600;
    line-height: 99.8%;
    letter-spacing: em(8,90);
    text-transform: uppercase;
    margin-bottom: em(13,90 );
    @media (min-width:1285px) {
        font-size: 80px;
    }
}
.content__title-white {
    color: $colorWhite;
font-family: FuturaFuturisC;
@include adaptiveValue(font-size,55 ,25 );
font-weight: 700;
line-height: 99.8%; /* 64.87px */
text-transform: uppercase;
@media (min-width:1285px) {
    font-size: 55px;
}
}
.components__subtitle {
    font-family: FuturaBookC;
    @include adaptiveValue(font-size,26 ,15 );
    font-weight: 400;
    color: #FFF;
    margin-bottom: em(42,26 );
}
.components__list-wrap {
    border-radius: 10px;
    background: linear-gradient(90deg, #969AF7 -201%, rgba(150, 154, 247, 0) 100%);
    padding: 25px 31px;
}
.components__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.components__list-item {
    font-family: FuturaBookC;
    @include adaptiveValue(font-size,22 ,12 );
    font-style: normal;
    font-weight: 400;
    line-height: em(28.556,22); /* 28.556px */
    color: $colorWhite;
    position: relative;
    padding-left: 21px;
    &::before{
        content: "";
        background: url("../img/components/check_components.svg");
        width: 14px;
        height: 11px;
        display: flex;
        position: absolute;
        top: 8px;
        left: 0;
    }
}
.components__form {
    display: flex;
    flex: 0 1 380px;
    @media (max-width:1000px) {
        margin-bottom: 18%;
    }
}
.form { 
    background: var(--white, #FFF);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 1 380px;
    height: fit-content;
    position: relative;
}
.components__form{
    @media (max-width:1000px) {
        flex: 0 1 90%;
    }
}
.form__top{
    background: linear-gradient(180deg, #969AF7 0%, #686EEC 100%);
    padding: 6% 11.5%;
    border-radius: 10px 10px 0px 0px;
}
.form__title {
    text-align: center;
    text-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: FuturaFuturisC;
    @include adaptiveValue(font-size,25 ,12 );
    font-weight: 700;
    color: $colorWhite;
    @media (min-width:1285px) {
        font-size: 25px;
    }
}
.form__main{
    display: flex;
    flex-direction: column;
    padding: 30px 40px 0 40px;
    & :not(:last-child){
        margin-bottom: 6px;
    }
    margin-bottom: 34px;
}
.form__bottom{
    padding: 0 40px 20px 40px;
    display: flex;
    flex-direction: column;

}
label{
    display: flex;
    flex-direction: column;
}
.form__name {
    font-family: FuturaBookC;
    font-size: 18px;
    font-weight: 400;
    line-height: 128.906%; /* 23.203px */
    color: var(--gray-2, #626366);
}
.form__input {
    background: #F5F3FF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.10) inset;
    border-radius: 10px;
    padding: 20px;
    color: var(--1, #BCBFC4);
    font-family: FuturaBookC;
    font-size: 20px;
    font-weight: 400;
    line-height: 128.906%; /* 25.781px */
}
.form__btn {
    text-align: center;
    font-family: FuturaDemiC;
    @include adaptiveValue(font-size,18 ,15 );
    font-weight: 600;
    line-height: 19px; /* 105.556% */
    width: 100%;
    align-self: center;
    margin-bottom: 17px;
}
.form__confid {
    font-family: FuturaBookC;
    font-size: 14px;
    font-weight: 400;
    color: #C0C0C0;
    position: relative;
    padding-left: 22px;
    &::before{
        content: "";
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/components/form_lock.svg") 0 0 no-repeat;
        width: 16px;
        height: 16px;
    }
}