.manufacturer {
    background: url("../img/manufacturer/manufacrurer__bg.png ") 34% 0 no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -190px;
}
.manufacturer__container {
    padding: 12.3% 15px 22.2% 15px;
    @media (max-width: 1280px) {
        padding: 4.3% 20px 20% 20px;
    }
}
.manufacturer__title {
    color: $colorWhite;
    margin-bottom: 4.6%;
}

.manufacturer__slider-item {
    width: 242px;
    height: 211px;
    padding: 45px 60px;
    position: relative;
    @media (max-width:1270px) {
        width: 87%;
    }
    @media (max-width:750px) {
        width: 65%;

    }
}
.manufacturer__slider-button-prev{
    top: 46%;
    @media (max-width:1280px) {
        top: 39%;
    }
}
.manufacturer__slider-button-next{
    top: 46%;
    @media (max-width:1280px) {
        top: 39%;
    }
}