// ========================Миксины==============================
@mixin adaptiveValue ($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    // Ширина полотна макета
    $maxWidth: 1281;                    
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
//   ====================Переменные=======================
$colorWhite:#FFF;
$colorBlack:#111;
$colorGrad: linear-gradient(90deg, #F58634 0%, #E8363A 100%);
@function em($px,$size){
    $result: $px / $size + em;
    @return $result;
  }
  @function rem($px){
    $result: $px / 16 + rem;
    @return $result;
  }

// 
.scheme {
    height: 800px;
}
.scheme__container {
    padding: 3% 5px 0 5px;
}
.scheme__title {
    margin-bottom: 4%;
}
.scheme__item-box {
    display: flex;
    flex-wrap: wrap;
}
.scheme__item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    min-height: 268px;
    max-width: 420px;
    min-width: 288px;
    padding: 48px 28px 48px 100px;
}
.scheme__item-list-wrap {
    position: relative;
    margin-bottom: 28px;
}
.scheme__tem-title {
    font-family: FuturaFuturisC;
    @include adaptiveValue(font-size,18 ,15 );
    font-weight: 700;
    line-height: 138.889%; /* 25px */
    color: $colorWhite;
}
.scheme__item-text {
    position: relative;
    font-family: FuturaBookC;
    @include adaptiveValue(font-size,18 ,15 );
    font-weight: 400;
    line-height: 138.889%; /*25px  */
    color: #E3E3E3;
}
.scheme__item-img{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}